*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body, html{
	width: 500px;
	min-height: 100px;
}
p,div{
	font-family: 'Poppins', sans-serif;
}
h1{
	font-weight: 600;
	font-size: 2.5rem;
}
.app-child{
	margin: 0 0 0 2rem;
	padding: 1rem 0 0 0;
}
.input-group{
	display: flex;
	flex-direction: column;
	padding: 0.4rem 0;
}
.input-group input{
	padding: 0.5rem;
	font-size: 1.5rem;
	font-family: 'Poppins', sans-serif;
}
.label{
	font-size: 1.2rem;
}
.submit{
	background: #2f58d4;
	font-size: 1.3rem;
	color: white;
	border: none;
	font-family: 'Poppins', sans-serif;
	padding: 1rem 5rem;
	cursor: pointer;
	margin: 0.7rem 0 0 0;
}
.resume-vid{
	padding: 1.5rem 0;	
}
.video-list{
	list-style: none;
	color: white;
	background: #171717;
}
.video-list a li{
	text-align: center;
	padding: 1rem 0;
}
.video-list a:nth-child(even) li{
	background: #292929;
}
.video-list a{
	color: white;
	text-decoration: none;
}











